.tab-content {
  padding-bottom: 1.3rem;
}

ul {
  list-style: none;
  margin-top: 1rem;
  padding-inline-start: 0;
}

.ccontent li .wrapp {padding: 0.3rem 1rem 0.001rem 1rem;}

.ccontent li .wrapp div {font-weight: 600;}

.ccontent li .wrapp p {font-weight: 360;}

.ccontent li:hover {background-color: rgb(117, 93, 255);color: white;}
