.tab-content {
  padding-bottom: 1.3rem;
}
hr{
  border-color:#55c57a;
}
.form-check-input:checked {
  background-color: #55c57a;
  border-color: #55c57a;
}

*:focus {
  border-color: #55c57a;
  box-shadow: 2px 2px px #54c47980;
}
